.dark-purple-fill {
  background-color: #3B2E58;
}
.light-purple-fill {
  background-color: #8661c5;
}

.icon-text-large {
  font-size: 100px;
}

.small-text {
    width: 12rem;
}

.tiny-text {
  font-size: 12px;
}

.text-gray {
  color: gray;
}

.text-center {
  text-align: center;
}

#qrcode > img {
  margin: 0 auto;
  padding-top: 25px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-75 {
  margin-top: 75px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-75 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.green {
  color: #228B22;
}

#message {
  font-size: 1.5em;
}

#table-info {
  font-size: 1.5em;
  display: grid;
  place-items: center;
}

th {
  background-color: purple;
  color: white;
}

table, td {  
  border: 2px solid purple;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
}

/* DEFAULT */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #E0E0E0;
}

.button {
    background-color: #3B2E58;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
}

.buttonHolder {
    justify-self: center;
    gap: 1.5rem;
}

.icon-small {
    max-width: 4rem;
    max-height: 4rem;
    margin-right: 0.25rem;
}

.icon-text-large {
    font-size: 100px;
}

#qrcode > img {
    margin: 0 auto;
    padding-top: 25px;
}

#wrap {
    display: grid;
}

/* HEADER */

.header {
    display: flex;
    margin: 0  auto;
    align-items: center;
}

#logo {
    height: 5.5rem;
    border-radius: 2.1rem;
    padding: 0.6rem;
}
.button + .button {
    margin-left: 2rem;
}
/* USER INPUT */

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    justify-content: center;
    margin-top: 2.5rem;
}

#userCredentials {
    justify-self: end;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;

    width: 11rem;
    height: 100%;
}

#userCredentials div{
    margin-bottom: 2rem;
}

#userCredentials label {
    font-weight: bold;
}

div #DOB{
    width: 10.32rem;
}

.disSelection {
    list-style-type: none;
    margin-top: 0.5rem;
    padding: 0;
}

.disSelection input {
    cursor: pointer;
}

.disSelection li {
    height: 1.4rem;
}

label span {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

#qrText, #pinCodeText {
    display: flex;
    justify-self: center;
    visibility: hidden;
    margin-top: 2rem;
}

#message-wrapper, #no-adjustments {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin-top: 2rem;
}

@media only screen and (max-width: 900px), (max-height: 600px){
    body {
        font-size: 14px;
    }

    #header {
        display: block;
        margin: 1rem  auto;
    }

    #header h1 {
        display: none;
    }

    #form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9rem 1fr;
        grid-column-gap: 5rem;
        justify-content: center;
        margin-top: 0.5rem;
    }

    #userCredentials {
        justify-self: center;
        justify-content: space-between;
        width: 19rem;
        height: 7rem;
    }

    #userCredentials div{
        display: flex;
        justify-content: space-between;
    }

    #userCredentials div{
        margin-bottom: 0;
    }

    #userSelection {
        justify-self: center;

        width: 19rem;
    }

    .button {
        width: 10rem;
        padding: 1rem 1rem;
    }
}